.ipynb_checkpoints
__pycache__
Williams 82 BAC 56G2 sequence - Copy
Thesis Project Using Python/Forrest sequence and Forrest SHTM - Alignment (BLAST confirmation).txt
Thesis Project Using Python/Glycine max SHMT aa and mRNA - Alignment.txt
Thesis Project Using Python/Forrest - Williams 82 Alignment.xml
Thesis Project Using Python/Glycine max SHMT - aa complete sequences alignment.txt
Thesis Project Using Python/Glycine max SHMT aa and mRNA - Alignment.fasta
Thesis Project Using Python/TS7D2U6P114-Alignment-Descriptions.csv
Thesis Project Using Python/TS7D2U6P114-Alignment-HitTable.csv
Thesis Project Using Python/HST Factor 15 Transcript variant X2 mRNA.txt
Thesis Project Using Python/sequence.txt
Biopython/ls_orchid.fasta.txt
Biopython/ls_orchid.fasta
Biopython/ls_orchid.gbk.txt
Biopython/ls_orchid.gbk
Biopython/NC_005816.fna.txt
Biopython/NC_005816.gb
Biopython/NC_005816.fna
Biopython/PF05371_seed.sth
Biopython/PF05356_seed.faa
Biopython/opuntia.fasta
Biopython/seed.txt