.ipynb_checkpoints
__pycache__
Williams 82 BAC 56G2 sequence - Copy
Thesis Project Using Python/Forrest sequence and Forrest SHTM - Alignment (BLAST confirmation).txt
Thesis Project Using Python/Glycine max SHTM aa and mRNA - Alignment.txt
Thesis Project Using Python/TS7D2U6P114-Alignment-Descriptions.csv
Thesis Project Using Python/TS7D2U6P114-Alignment-HitTable.csv
Biopython/ls_orchid.fasta
Biopython/ls_orchid.fasta.txt
Biopython/ls_orchid.gbk
Biopython/ls_orchid.gbk.txt
